<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="upgrade.css">
</head>
<body>
<div id="main" v-cloak>
    <div class="bar">
        <input v-model="message"  class="txt" type="text" placeholder="Ente your saarch terms">
        <img src="seek.png" alt="">
    </div>
    <ul class="list">
        <li v-for="a in atc">
            <a :href="a.url" ><img :src="a.image" /></a>
            <p>{{a.title}}</p>
        </li>
    </ul>
</div>
<script>
    var demo = new Vue({
        el: '#main',
        data: {
            message:'',
            value:'',
            articles: [{
                "title": "What You Need To Know About CSS Variables",
                "url": "http://tutorialzine.com/2016/03/what-you-need-to-know-about-css-variables/",
                "image": 'https://tutorialzine.com/media/2016/03/css-variables.jpg'
            },
                {
                    "title": "Freebie: 4 Great Looking Pricing Tables",
                    "url": "http://tutorialzine.com/2016/02/freebie-4-great-looking-pricing-tables/",
                    "image": 'https://tutorialzine.com/media/2016/02/great-looking-pricing-tables.jpg'
                },
                {
                    "title": "20 Interesting JavaScript and CSS Libraries for February 2016",
                    "url": "http://tutorialzine.com/2016/02/20-interesting-javascript-and-css-libraries-for-february-2016/",
                    "image": 'https://tutorialzine.com/media/2016/02/interesting-resources-february.jpg'
                },
                {
                    "title": "Quick Tip: The Easiest Way To Make Responsive Headers",
                    "url": "http://tutorialzine.com/2016/02/quick-tip-easiest-way-to-make-responsive-headers/",
                    "image": 'https://tutorialzine.com/media/2016/02/quick-tip-responsive-headers.png'
                },
                {
                    "title": "Learn SQL In 20 Minutes",
                    "url": "http://tutorialzine.com/2016/01/learn-sql-in-20-minutes/",
                    "image": 'https://tutorialzine.com/media/2016/01/learn-sql-20-minutes.png'
                },
                {
                    "title": "Creating Your First Desktop App With HTML, JS and Electron",
                    "url": "http://tutorialzine.com/2015/12/creating-your-first-desktop-app-with-html-js-and-electron/",
                    "image": 'https://tutorialzine.com/media/2015/12/creating-your-first-desktop-app-with-electron.png'
                }]

        },
                settle:{
                    atc:function () {
                        if(!this.message){
                            return false;
                        }
                        //把输入框里的值去除空格转换小写
                        var vlu = this.searchStr.trim().toLowerCase();
                        var result = this.articles.filter(function (i) {
                            if (item.title.toLowerCase().indexOf(vlu) !== -1) {
                                return i;
                            }
                        });
                        return result;
                    }
                }
    });
</script>
</body>
</html>